div {
  color: blue;
}

.alert-text {
  color: crimson;
}

#title {
  background-color: green;
}

img {
  height: auto;
  width: 500px;
}

h1 {
  text-align: center;
  color: royalblue;
  font-family: sans-serif;
}

.copyright {
  color: crimson;
  text-align: center;
}
